# Introduction to the Spatially Enabled DataFrame

The [`Spatially Enabled DataFrame`](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html#spatialdataframe) (SEDF) creates a simple, intutive object that can easily manipulate geometric and attribute data.

<blockquote>
    New at version 1.5, the Spatially Enabled DataFrame is an evolution of the <code>SpatialDataFrame</code> object that you may be familiar with. While the <code>SDF</code> object is still avialable for use, the team has stopped active development of it and is promoting the use of this new Spatially Enabled DataFrame pattern. The SEDF provides you better memory management, ability to handle larger datasets and is the pattern that Pandas advocates as the path forward.</blockquote>

The Spatially Enabled DataFrame inserts a custom namespace called `spatial` into the popular [Pandas](https://pandas.pydata.org/) [DataFrame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe) structure to give it spatial abilities. This allows you to use intutive, pandorable operations on both the attribute and spatial columns. Thus, the SEDF is based on data structures inherently suited to data analysis, with natural operations for the filtering and inspecting of subsets of values which are fundamental to statistical and geographic manipulations.

The dataframe reads from many **sources**, including shapefiles, [Pandas](https://pandas.pydata.org/) [DataFrames](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe), feature classes, GeoJSON, and Feature Layers.

This document outlines some fundamentals of using the `Spatially Enabled DataFrame` object for working with GIS data.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction-to-the-Spatially-Enabled-DataFrame" data-toc-modified-id="Introduction-to-the-Spatially-Enabled-DataFrame-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to the Spatially Enabled DataFrame</a></span><ul class="toc-item"><li><span><a href="#Accessing-GIS-data" data-toc-modified-id="Accessing-GIS-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Accessing GIS data</a></span><ul class="toc-item"><li><span><a href="#Reading-Web-Layers" data-toc-modified-id="Reading-Web-Layers-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Reading Web Layers</a></span></li><li><span><a href="#Reading-Feature-Layer-Data" data-toc-modified-id="Reading-Feature-Layer-Data-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Reading Feature Layer Data</a></span><ul class="toc-item"><li><span><a href="#Example:-Examining-Feature-Layer-content" data-toc-modified-id="Example:-Examining-Feature-Layer-content-1.1.2.1"><span class="toc-item-num">1.1.2.1&nbsp;&nbsp;</span>Example: Examining Feature Layer content</a></span></li><li><span><a href="#Example:-Feature-Layer-Query-Results-to-a-Spatially-Enabled-DataFrame" data-toc-modified-id="Example:-Feature-Layer-Query-Results-to-a-Spatially-Enabled-DataFrame-1.1.2.2"><span class="toc-item-num">1.1.2.2&nbsp;&nbsp;</span>Example: Feature Layer Query Results to a Spatially Enabled DataFrame</a></span></li></ul></li></ul></li><li><span><a href="#Accessing-local-GIS-data" data-toc-modified-id="Accessing-local-GIS-data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Accessing local GIS data</a></span><ul class="toc-item"><li><span><a href="#Example:-Reading-a-Shapefile" data-toc-modified-id="Example:-Reading-a-Shapefile-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Example: Reading a Shapefile</a></span></li><li><span><a href="#Example:-Reading-a-Featureclass-from-FileGDB" data-toc-modified-id="Example:-Reading-a-Featureclass-from-FileGDB-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Example: Reading a Featureclass from FileGDB</a></span></li></ul></li><li><span><a href="#Saving-Spatially-Enabled-DataFrames" data-toc-modified-id="Saving-Spatially-Enabled-DataFrames-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Saving Spatially Enabled DataFrames</a></span><ul class="toc-item"><li><span><a href="#Export-Options" data-toc-modified-id="Export-Options-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Export Options</a></span></li><li><span><a href="#Export-to-Feature-Class" data-toc-modified-id="Export-to-Feature-Class-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Export to Feature Class</a></span><ul class="toc-item"><li><span><a href="#Example:-Export-a-whole-dataset-to-a-shapefile:" data-toc-modified-id="Example:-Export-a-whole-dataset-to-a-shapefile:-1.3.2.1"><span class="toc-item-num">1.3.2.1&nbsp;&nbsp;</span>Example: Export a whole dataset to a shapefile:</a></span></li><li><span><a href="#Example:-Export-dataset-with-a-subset-of-columns-and-top-5-records-to-a-shapefile:" data-toc-modified-id="Example:-Export-dataset-with-a-subset-of-columns-and-top-5-records-to-a-shapefile:-1.3.2.2"><span class="toc-item-num">1.3.2.2&nbsp;&nbsp;</span>Example: Export dataset with a subset of columns and top 5 records to a shapefile:</a></span></li><li><span><a href="#Example:-Export-dataset-to-a-featureclass-in-FileGDB:" data-toc-modified-id="Example:-Export-dataset-to-a-featureclass-in-FileGDB:-1.3.2.3"><span class="toc-item-num">1.3.2.3&nbsp;&nbsp;</span>Example: Export dataset to a featureclass in FileGDB:</a></span></li></ul></li><li><span><a href="#Publish-as-a-Feature-Layer" data-toc-modified-id="Publish-as-a-Feature-Layer-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Publish as a Feature Layer</a></span><ul class="toc-item"><li><span><a href="#Example:-Publishing-as-a-feature-layer:" data-toc-modified-id="Example:-Publishing-as-a-feature-layer:-1.3.3.1"><span class="toc-item-num">1.3.3.1&nbsp;&nbsp;</span>Example: Publishing as a feature layer:</a></span></li></ul></li></ul></li></ul></li></ul></div>

In [12]:
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor
import os

## Accessing GIS data
GIS users need to work with both published layers on remote servers (web layers) and local data, but the ability to manipulate these datasets without permanently copying the data is lacking.  The `Spatial Enabled DataFrame` solves this problem because it is an in-memory object that can read, write and manipulate geospatial data.

The SEDF integrates with Esri's [`ArcPy` site-package](http://pro.arcgis.com/en/pro-app/arcpy/get-started/what-is-arcpy-.htm) as well as the open source [`pyshp`](https://github.com/GeospatialPython/pyshp/), [`shapely`](https://github.com/Toblerity/Shapely) and [`fiona`](https://github.com/Toblerity/Fiona) packages. This means the ArcGIS API for Python SEDF can use either of these geometry engines to provide you options for easily working with geospatial data regardless of your platform.  The SEDF transforms data into the formats you desire so you can use Python functionality to analyze and visualize geographic information.

Data can be read and scripted to automate workflows and just as easily visualized on maps in [`Jupyter notebooks`](../using-the-jupyter-notebook-environment/). The SEDF can export data as feature classes or publish them directly to servers for sharing according to your needs. Let's explore some of the different options available with the versatile `Spatial Enabled DataFrame` namespaces:

### Reading Web Layers

[`Feature layers`](https://doc.arcgis.com/en/arcgis-online/share-maps/hosted-web-layers.htm) hosted on [**ArcGIS Online**](https://www.arcgis.com) or [**ArcGIS Enterprise**](http://enterprise.arcgis.com/en/) can be easily read into a Spatially Enabled DataFrame using the  [`from_layer`](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html?highlight=from_layer#arcgis.features.GeoAccessor.from_layer) method. Once you read it into a SEDF object, you can create reports, manipulate the data, or convert it to a form that is comfortable and makes sense for its intended purpose.

**Example: Retrieving an ArcGIS Online [`item`](https://developers.arcgis.com/rest/users-groups-and-items/publish-item.htm) and using the [`layers`](https://developers.arcgis.com/python/api-reference/arcgis.gis.toc.html#layer) property to inspect the first 5 records of the layer**

In [6]:
from arcgis import GIS
gis = GIS()
item = gis.content.get("85d0ca4ea1ca4b9abf0c51b9bd34de2e")
flayer = item.layers[0]

# create a Spatially Enabled DataFrame object
sdf = pd.DataFrame.spatial.from_layer(flayer)
sdf.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,PLACEFIPS,POP2010,POPULATION,POP_CLASS,RENTER_OCC,SHAPE,ST,STFIPS,VACANT,WHITE
0,2144,2314,2002,3531,3887,5643,6353,2067,5799,2850,...,0408220,39540,40346,6,6563,"{""x"": -12751215.004681978, ""y"": 4180278.406256...",AZ,04,6703,32367
1,876,867,574,1247,1560,2122,2342,733,2157,975,...,0424895,14364,14847,6,1397,"{""x"": -12755627.731115643, ""y"": 4164465.572856...",AZ,04,1389,12730
2,1000,1003,833,2311,2063,2374,3631,1068,6165,3776,...,0425030,26265,26977,6,1963,"{""x"": -12734674.294574209, ""y"": 3850472.723091...",AZ,04,9636,22995
3,2730,2850,2194,4674,5240,7438,8440,2499,8145,4608,...,0439370,52527,55041,7,6765,"{""x"": -12725332.21151233, ""y"": 4096532.0908223...",AZ,04,9159,47335
4,2732,2965,2024,3182,3512,3109,1632,2497,916,467,...,0463470,25505,29767,6,1681,"{""x"": -12770984.257542243, ""y"": 3826624.133935...",AZ,04,572,16120

In [3]:
from arcgis import GIS
gis = GIS()
item = gis.content.get("85d0ca4ea1ca4b9abf0c51b9bd34de2e")
flayer = item.layers[0]

# create a Spatially Enabled DataFrame object
sdf = pd.DataFrame.spatial.from_layer(flayer)
sdf.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,PLACEFIPS,POP2010,POPULATION,POP_CLASS,RENTER_OCC,SHAPE,ST,STFIPS,VACANT,WHITE
0,1313,1058,734,2031,1767,1446,1136,1503,665,486,...,1601990,13816,15181,6,1271,"{""x"": -12462673.723706165, ""y"": 5384674.994080...",ID,16,271,13002
1,890,817,818,1799,1235,1330,1143,1099,721,579,...,1607840,11899,11946,6,1441,"{""x"": -12506251.313993266, ""y"": 5341537.793529...",ID,16,318,9893
2,12750,13959,16966,32135,27048,29595,24177,12933,12176,7087,...,1608830,205671,225405,8,33359,"{""x"": -12938676.6836459, ""y"": 5403597.04949123...",ID,16,6996,182991
3,790,768,699,1445,1136,1134,935,959,679,464,...,1611260,10345,10727,6,1461,"{""x"": -12667411.402393516, ""y"": 5241722.820606...",ID,16,241,7984
4,3803,3779,3687,7571,5559,4744,3624,4397,2296,1222,...,1612250,46237,53942,7,5196,"{""x"": -12989383.674504515, ""y"": 5413226.487333...",ID,16,1428,35856

When you inspect the `type` of the object, you get back a standard pandas `DataFrame` object. However, this object now has an additional `SHAPE` column that allows you to perform geometric operations. In other words, this `DataFrame` is now geo-aware.

In [7]:
type(sdf)

pandas.core.frame.DataFrame

Further, the `DataFrame` has a new `spatial` property that provides a list of geoprocessing operations that can be performed on the object. The rest of the guides in this section go into details of how to use these functionalities. So, sit tight.

### Reading Feature Layer Data

As seen above, the SEDF can consume a `Feature Layer` served from either ArcGIS Online or ArcGIS Enterprise orgs. Let's take a step-by-step approach to break down the notebook cell above and then extract a subset of records from the feature layer.

#### Example: Examining Feature Layer content

Use the `from_layer` method on the SEDF to instantiate a data frame from an item's `layer` and inspect the first 5 records.

In [17]:
# Retrieve an item from ArcGIS Online from a known ID value
known_item = gis.content.get("85d0ca4ea1ca4b9abf0c51b9bd34de2e")
known_item

In [4]:
# Retrieve an item from ArcGIS Online from a known ID value
known_item = gis.content.get("85d0ca4ea1ca4b9abf0c51b9bd34de2e")
known_item

In [5]:
# Obtain the first feature layer from the item
fl = known_item.layers[0]

# Use the `from_layer` static method in the 'spatial' namespace on the Pandas' DataFrame
sdf = pd.DataFrame.spatial.from_layer(fl)

# Return the first 5 records. 
sdf.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,PLACEFIPS,POP2010,POPULATION,POP_CLASS,RENTER_OCC,SHAPE,ST,STFIPS,VACANT,WHITE
0,1313,1058,734,2031,1767,1446,1136,1503,665,486,...,1601990,13816,15181,6,1271,"{""x"": -12462673.723706165, ""y"": 5384674.994080...",ID,16,271,13002
1,890,817,818,1799,1235,1330,1143,1099,721,579,...,1607840,11899,11946,6,1441,"{""x"": -12506251.313993266, ""y"": 5341537.793529...",ID,16,318,9893
2,12750,13959,16966,32135,27048,29595,24177,12933,12176,7087,...,1608830,205671,225405,8,33359,"{""x"": -12938676.6836459, ""y"": 5403597.04949123...",ID,16,6996,182991
3,790,768,699,1445,1136,1134,935,959,679,464,...,1611260,10345,10727,6,1461,"{""x"": -12667411.402393516, ""y"": 5241722.820606...",ID,16,241,7984
4,3803,3779,3687,7571,5559,4744,3624,4397,2296,1222,...,1612250,46237,53942,7,5196,"{""x"": -12989383.674504515, ""y"": 5413226.487333...",ID,16,1428,35856

> NOTE: See Pandas DataFrame [`head() method documentation`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html) for details.

You can also use sql queries to return a subset of records by leveraging the ArcGIS API for Python's [`Feature Layer`](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html#featurelayer) object itself. When you run a [`query()`](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html#arcgis.features.FeatureLayer.query) on a `FeatureLayer`, you get back a `FeatureSet` object. Calling the `sdf` property of the `FeatureSet` returns a Spatially Enabled DataFrame object. We then use the data frame's [`head()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.GroupBy.head.html#pandas.core.groupby.GroupBy.head) method to return the first 5 records and a subset of columns from the DataFrame:

#### Example: Feature Layer Query Results to a Spatially Enabled DataFrame
We'll use the `AGE_45_54` column to query the data frame and return a new `DataFrame` with a subset of records. We can use the built-in [`zip()`](https://docs.python.org/3/library/functions.html#zip) function to print the data frame attribute field names, and then use data frame syntax to view specific attribute fields in the output:

In [6]:
# Filter feature layer records with a sql query. 
# See https://developers.arcgis.com/rest/services-reference/query-feature-service-layer-.htm

df = fl.query(where="AGE_45_54 < 1500").sdf

In [7]:
for a,b,c,d in zip(df.columns[::4], df.columns[1::4],df.columns[2::4], df.columns[3::4]):
    print("{:<30}{:<30}{:<30}{:<}".format(a,b,c,d))

FID                           NAME                          CLASS                         ST
STFIPS                        PLACEFIPS                     CAPITAL                       POP_CLASS
POPULATION                    POP2010                       WHITE                         BLACK
AMERI_ES                      ASIAN                         HAWN_PI                       HISPANIC
OTHER                         MULT_RACE                     MALES                         FEMALES
AGE_UNDER5                    AGE_5_9                       AGE_10_14                     AGE_15_19
AGE_20_24                     AGE_25_34                     AGE_35_44                     AGE_45_54
AGE_55_64                     AGE_65_74                     AGE_75_84                     AGE_85_UP
MED_AGE                       MED_AGE_M                     MED_AGE_F                     HOUSEHOLDS
AVE_HH_SZ                     HSEHLD_1_M                    HSEHLD_1_F                    MARHH_CHD
MARHH_NO_C                    MHH_CHILD                     FHH_CHILD                     FAMILIES
AVE_FAM_SZ                    HSE_UNITS                     VACANT                        OWNER_OCC

In [8]:
# Return a subset of columns on just the first 5 records
df[['NAME', 'AGE_45_54', 'POP2010']].head()

        NAME  AGE_45_54  POP2010
0      Ammon       1446    13816
1  Blackfoot       1330    11899
2     Burley       1134    10345
3   Chubbuck       1494    13922
4     Jerome       1155    10890

## Accessing local GIS data

The SEDF can also access local geospatial data. Depending upon what Python modules you have installed, you'll have access to a wide range of functionality:  

* If the **`ArcPy`** module is installed, meaning you have installed [`ArcGIS Pro`](http://pro.arcgis.com/en/pro-app/) and have installed the ArcGIS API for Python in that same environment, the `DataFrame` then has methods to read a subset of the ArcGIS Desktop [supported geographic formats](http://desktop.arcgis.com/en/arcmap/10.3/manage-data/datatypes/about-geographic-data-formats.htm#ESRI_SECTION1_4835793C55C0439593A46FD5BC9E64B9), most notably:
 * [`feature classes`](http://desktop.arcgis.com/en/arcmap/latest/manage-data/feature-classes/a-quick-tour-of-feature-classes.htm)
 * [`shapefiles`](http://desktop.arcgis.com/en/arcmap/latest/manage-data/shapefiles/what-is-a-shapefile.htm),  
 * [`ArcGIS Server Web Services`](https://enterprise.arcgis.com/en/server/latest/publish-services/windows/what-types-of-services-can-you-publish.htm) and [`ArcGIS Online Hosted Feature Layers`](https://doc.arcgis.com/en/arcgis-online/share-maps/publish-features.htm) 
 * [`OGC Services`](http://www.opengeospatial.org/standards)  
* If the **`ArcPy`** module is not installed, the SEDF [`from_featureclass`](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html?arcgis.features.GeoAccessor.from_featureclass#arcgis.features.GeoAccessor.from_featureclass) method only supports consuming an Esri [`shapefile`](http://desktop.arcgis.com/en/arcmap/latest/manage-data/shapefiles/what-is-a-shapefile.htm)
> Please note that you must install the `pyshp` package to read shapefiles in environments that don't have access to `ArcPy`.
    
### Example: Reading a Shapefile
> You must authenticate to `ArcGIS Online` or `ArcGIS Enterprise` to use the `from_featureclass()` method to read a shapefile with a Python interpreter that does not have access to `ArcPy`.

>  `g2 = GIS("https://www.arcgis.com", "username", "password")`

In [4]:
g2 = GIS("https://pythonapi.playground.esri.com/portal", "arcgis_python", "amazing_arcgis_123")

In [9]:
gis = GIS(url="http://www.arcgis.com", username="renemorenow")
#gis = GIS(url="http://www.arcgis.com", username="williamrenem")
#gis = GIS(url="http://www.arcgis.com", username="wmoreno_project_esri_co")

Enter password: ········

In [13]:
path = os.getcwd()
data_path = "data"
data_path = os.path.join(path[:path.find("TemasExamen_ApiforPython")], "TemasExamen_ApiforPython", data_path)
data_path

'D:\\EsriTraining\\APIforPython\\TemasExamen_ApiforPython\\data'

In [17]:
dir_fc = os.path.join(data_path, "country\countries", "countries.shp")
sdf = pd.DataFrame.spatial.from_featureclass(dir_fc)
sdf.tail()

,FID,OBJECTID,NAME,ISO3,ISO2,FIPS,COUNTRY,ENGLISH,FRENCH,SPANISH,LOCAL,FAO,WAS_ISO,SOVEREIGN,CONTINENT,UNREG1,UNREG2,EU,SQKM,SHAPE
260,260,261,Western Sahara,ESH,EH,WI,Western Sahara,Western Sahara,Sahara Occidental,Sáhara Occidental,Western Sahara,Western Sahara,,Western Sahara,Africa,Northern Africa,Africa,0,266829.904662,"{""rings"": [[[-17.051847460615193, 20.774158474..."
261,261,262,Yemen,YEM,YE,YM,Yemen,Yemen,Yémen,Yemen,Al Yaman,Yemen,,Yemen,Asia,Western Asia,Asia,0,419899.888190,"{""rings"": [[[53.10705948079993, 16.65440177628..."
262,262,263,Zambia,ZMB,ZM,ZA,Zambia,Zambia,Zambie,Zambia,Zambia,Zambia,,Zambia,Africa,Eastern Africa,Africa,0,751315.319018,"{""rings"": [[[30.418260573938767, -15.617567060..."
263,263,264,Zimbabwe,ZWE,ZW,ZI,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,,Zimbabwe,Africa,Eastern Africa,Africa,0,390648.416770,"{""rings"": [[[28.84700584426139, -21.7422409038..."
264,264,265,Paracel Islands,P--,P-,P-,Paracel Islands,Paracel Islands,,,Paracel Islands,,,Disputed,Asia,South-Eastern Asia,Asia,0,5.343721,"{""rings"": [[[112.34130859339928, 16.9270000457..."

### Example: Reading a Featureclass from FileGDB

> You must have `fiona` installed if you use the `from_featureclass()` method to read a feature class from FileGDB with a Python interpreter that does not have access to `ArcPy`.

In [3]:
sdf = pd.DataFrame.spatial.from_featureclass("path\to\your\data\census_example\census.gdb\cities")
sdf.head()

,OBJECTID,FID,NAME,CLASS,ST,STFIPS,PLACEFIP,CAPITAL,AREALAND,AREAWATER,...,MARHH_NO_C,MHH_CHILD,FHH_CHILD,FAMILIES,AVE_FAM_SZ,HSE_UNITS,VACANT,OWNER_OCC,RENTER_OCC,SHAPE
0,1,0,College,Census Designated Place,AK,02,16750,,18.670,0.407,...,936,152,339,2640,3.13,4501,397,2395,1709,"{'x': -147.82719115699996, 'y': 64.84830019400..."
1,2,1,Fairbanks,City,AK,02,24230,,31.857,0.815,...,2259,395,1058,7187,3.15,12357,1282,3863,7212,"{'x': -147.72638162999996, 'y': 64.83809069700..."
2,3,2,Kalispell,City,MT,30,40075,,5.458,0.004,...,1433,147,480,3494,2.92,6532,390,3458,2684,"{'x': -114.31606412399998, 'y': 48.19780017900..."
3,4,3,Post Falls,City,ID,16,64810,,9.656,0.045,...,1851,205,467,4670,3.13,6697,328,4611,1758,"{'x': -116.93792709799999, 'y': 47.71555468000..."
4,5,4,Dishman,Census Designated Place,WA,53,17985,,3.378,0.000,...,1096,131,345,2564,2.96,4408,257,2635,1516,"{'x': -117.27780913799995, 'y': 47.65654568400..."

## Saving Spatially Enabled DataFrames

The SEDF can export data to various data formats for use in other applications.


### Export Options

- [Feature Layers](https://doc.arcgis.com/en/arcgis-online/share-maps/hosted-web-layers.htm)
- [Feature Collections](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html#featurelayercollection)
- [Feature Set](https://developers.arcgis.com/python/api-reference/arcgis.features.toc.html#featureset)
- [GeoJSON](http://geojson.org/)
- [Feature Class](http://desktop.arcgis.com/en/arcmap/latest/manage-data/feature-classes/a-quick-tour-of-feature-classes.htm)
- [Pickle](https://pythontips.com/2013/08/02/what-is-pickle-in-python/)
- [HDF](https://support.hdfgroup.org/HDF5/Tutor/HDF5Intro.pdf)

### Export to Feature Class

The SEDF allows for the export of whole datasets or partial datasets.  

#### Example: Export a whole dataset to a shapefile:

In [18]:
sdf.spatial.to_featureclass(location=r"c:\output_examples\census.shp")

'c:\\output_examples\\census.shp'

> The ArcGIS API for Python installs on all `macOS` and `Linux` machines, as well as those `Windows` machines not using Python interpreters that have access to `ArcPy` will only be able to write out to shapefile format with the `to_featureclass` method. Writing to file geodatabases requires the `ArcPy` site-package.

#### Example: Export dataset with a subset of columns and top 5 records to a shapefile:

In [17]:
for a,b,c,d in zip(sdf.columns[::4], sdf.columns[1::4], sdf.columns[2::4], sdf.columns[3::4]):
    print("{:<30}{:<30}{:<30}{:<}".format(a,b,c,d))

PLACENS                       GEOID                         NAMELSAD                      CLASSFP
FUNCSTAT                      ALAND                         AWATER                        INTPTLAT

In [15]:
columns = ['NAME', 'ST', 'CAPITAL', 'STFIPS', 'POP2000', 'POP2007', 'SHAPE']
sdf[columns].head().spatial.to_featureclass(location=r"/path/to/your/data/directory/sdf_head_output.shp")

'/path/to/your/data/directory/sdf_head_output.shp'

#### Example: Export dataset to a featureclass in FileGDB:

In [23]:
sdf.spatial.to_featureclass(location=r"c:\output_examples\census.gdb\cities");

### Publish as a Feature Layer

The SEDF allows for the publishing of datasets as feature layers.  

#### Example: Publishing as a feature layer:

In [7]:
lyr = sdf.spatial.to_featurelayer('census_cities', folder='census')
lyr